@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

#mycanvas {
    margin: 0 auto;
    display: block;    
}

div {
    position: absolute;
}